.gallery__container {
    width: 95%;
    margin: 0 auto;
    text-align: center;
    margin-top: 5rem;
}

.gallery__desc p {
    display: block;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #999;
    font-weight: 400;
    letter-spacing: 2px;
}

.gallery__desc h3 {
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 30px;
}
.gallery__photos__wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;


}
.gallery__photos__wrapper a {
    display: block;
    width: 31%;
    height: 40vh;
    overflow: hidden;
    margin-top: 3.5rem;
}
.gallery__photos__wrapper a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}