.services__container {
    width: 95%;
    margin: 0 auto;
    padding-top: 5rem;
}
.services__page_name p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #999;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 1.5em;
}
.services__page_name{
    width: 100%;
    text-align: center;
    padding-bottom: 3rem;

}
.services__page_name h4{
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.5em;
}
.services__page__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.services__photo_link_element {
    width: 31%;
    overflow: hidden;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.services__photo_link_element img{
    height: 100%;
}
.services__photo_link_desc {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.548);
    width: 100%;
    height: 100%;

}
.services__photo_desc {
    position: absolute;
    bottom: 8%;
    left: 5%;
}
.services_element__icon {
    width: 30px;
    height: 30px;
}
.services_element__icon img {
    height: 100%;
    object-fit: cover;
}
.services_element__desc p{
    font-size: 20px;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    margin-bottom: 5px;
}
.services__link_contact {
}
.services__prices_desc {
}
.services__prices__wrapper {
}
.services__prices__element {
}
.services__prices__back {
}
.services__prices__content {
}
.price {
}
.services__desc_wrapper {
}