* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
}

body.lock {
  overflow: hidden;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-ms-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.main_wrapper {
  width: 100%;
  height: 100vh;
}

.main_container {
  width: 100%;
  height: 100vh;

  display: flex;


}

/***********/
/***********/
.navigation__container {
  width: 25%;
  height: 100vh;
  background-color: #000;
}

.navigation__container_wrapper {
  width: 100%;
  height: 100%;
  padding: 18px;
  color: #fff;
}

.navigation__logo {
  width: 100%;
}
.navigation__logo  a {
  display: block;
  width: 100%;
}
.navigation__img { 
  width: 100%;
  display: flex;
  align-items: center
}
.navigation__img img {
  width: 70%;
  object-fit: contain;
  margin: 0 auto;
}

.navigation__text {
  width: 100%;
  text-align: center;
  margin-top: 15px;
  color: #fff;
  font-size: 25px;
  font-weight: 600;

}
.navigation__logo  a p {
  width: 100%;
  text-align: center;
  color: rgba(255, 255, 255, 0.616);
  font-size: 14px;
  font-weight: 400;
  margin-top: 12px;
  text-transform: uppercase;
}
.navigation__nav_container {
  margin-top: 18%;
}

.navigation__elements {
  display: flex;
  flex-direction: column;
}

.navigation__element {
  border-bottom: 1px solid rgba(255, 255, 255, 0.616);
}
.navigation__element a {
  display: block;
  width: 100%;
  padding: 12px 0px;
  color: rgba(255, 255, 255, 0.616);
}

.navigation__social_container {}

.navigation__social__wrapper {}

.navigation__social_icons {}

.navigation__social_desc {}

/***********/
/***********/
.content__container {
  height: 100%;
  width: 75%;
  overflow: scroll;
}

.content__wrapper {}

.content__block_wallpaper {}

.content__block_img {}

.__block_img-text {}

.__block_img-text_name {}

.content__block__gallery {}

.gallery__content {}

.gallery__content__desc {}

.gallery__content__photos {}

.footer__block {}

.footer__block__container {}

.footer__desc {}

.footer__rights {}